body {
	text-align: center;
	background-color: #121212;
	font-family: "Roboto Slab", serif;
	display: flex;
	flex-direction: column;
	color: white;
	overflow: hidden;
	flex-direction: row;
	justify-content: center;
}

html,
body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

#ChessTable {
	width: 90vh;
	height: 90vh;
}

.cell {
	height: 12.5%;
	padding: 0;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}
.cell:hover {
	box-shadow: inset 0px 0px 0px 3px white;
}

.blackCell {
	background-color: rgb(181, 136, 99);
}

.whiteCell {
	background-color: rgb(240, 217, 181);
}

.lastMoveWhite {
	background-color: #f3ae6f;
}
.lastMoveBlack {
	background-color: #e9a05e;
}

.blackCellAttack {
	background-color: #ca4747;
}
.whiteCellAttack {
	background-color: #ff6363;
}
td img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
table {
	table-layout: fixed;
	border-collapse: collapse;
	text-align: center;
}
td {
	height: 12.5%;
}
.Black {
	height: 90%;
}
.White {
	height: 90%;
}

.selected {
	background-color: #ffaa5c;
}

.moves {
	background-color: darkred;
}

center {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	-webkit-animation: scale-in-center 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		both;
	animation: scale-in-center 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes scale-in-center {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes scale-in-center {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}

@media only screen and (max-width: 992px) {
	html,
	body {
		margin: 0;
	}
	#ChessTable {
		width: 98vw;
		height: 98vw;
	}
	.cell:hover {
		box-shadow: inset 0px 0px 0px 2px white;
	}
}
